In [33]:
import mysql.connector 
# import pandas as pd
# from matplotlib import pyplot as plt

In [2]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="xazina"
)

In [3]:
d = db.cursor(dictionary=True)

In [30]:
d.execute("select id, gel,dollar from outcomes")
outc = d.fetchall()

In [32]:
for ou in outc:
    sql = ""
    try:
        invert = float(ou['dollar'])*-1 
        sql = f"update outcomes set dollar={invert} where id = \"{ou['id']}\""
        
    except:
        nothing = len(ou['dollar']) 
        sql = f"update outcomes set dollar={nothing} where id = \"{ou['id']}\""
    print(sql)